.App {
  text-align: center;
  max-width: 650px;
  margin: auto;
  font-family: Chalkduster, fantasy;
  text-indent: 50px;
  color: black;
  background-image: url("https://miro.medium.com/max/1400/1*h8gLX9aXdgViN0HdyQaP5g.png");
}

