.Nav li {
    text-align: center;
    list-style: none;
    float: left;
    padding-right:20px;
    margin-bottom: 30px;
    font-family: "Proxima Nova";
    color: pink;

  }

  .Nav li a {
    text-decoration: none;
  }
  
  .Nav li a {
    color: #225ea9;
  }
  
  .Nav li:hover {
    text-decoration: underline;
  }
  
  .HomeItem {
    font-weight: bold;
  }
  
  .CharactersContainer {
    clear:both;
    text-align: center;
    max-width: 980px;
    margin: auto;
    color: pink;
  }
  
  .CharacterCard {
    width: 300px;
    float: left;
    margin: 10px 10px 25px 10px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.21);
    box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.21);
    line-height: .75em;
  }
  
  .CharacterCard:hover {
    -webkit-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.7);
    box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.7);
  }
  
  .CharacterName {
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
  }
  
  .CharacterImage {
    max-width: 300px;
    max-height: 300px;
  }
  
  .FormField {
    padding-bottom:10px;
  }
  
  .FormField label{
    padding-right:10px;
  }
  
  .CharacterForm {
    margin: auto;
    width: 600px;
    padding-bottom: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    clear: both;
    font-family: Chalkduster, fantasy;
    font-size: 1.8em;
  }
  
  .btn-delete {
    font-weight: bold;
    opacity: .6;
    position: relative;
    top: -440px;
    right: -115px;
    align-self: left;
    font-size: .8em;
    padding: 2px 5px;
  }
  
  .btn-delete:hover {
    color: #ffffff;
    background-color: #000000;
  }
  
  .btn-like {
    font-size: .8em;
    padding: 2px 5px;
    margin-bottom: 10px;
  }
  
  .Footer {
    margin-top: 60px;
    font-size: .75em;
  }
  
  @media (max-width: 640px) {
    .CharacterCard {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .About {
    margin: auto;
    clear: both;
    max-width:600px;
    padding: 0px 20px;
    background-image: url(https://www.ideaspies.com/core/storage/uploads/images/2017/11/9F7B612A-9815-426E-AEEB-144CDE3BA679.gif);
  }
  
  .GreetingCharacters {
    margin: auto;
    clear: both;
    max-width:600px;
    padding: 0px 20px;
    background-image: url(https://media3.giphy.com/media/3oKIP7ZeZN11vDwXEk/giphy.gif?cid=ecf05e47aj6omifc4t4iav6lan91k8f3xez42mzcgdyhbshq&rid=giphy.gifv); 
  }

  .Home {
    margin: auto;
    clear: both;
    max-width:600px;
    padding: 0px 20px;

  }

  